.hero {
  background-color: #555;
  background-image: linear-gradient(
      rgba(150, 150, 150, 0.93),
      rgba(150, 150, 150, 0.93)
    ),
    url("../img/barbershop_bcg_pic.jpg");
  background-position: bottom;
  background-size: cover;
  filter: grayscale(1);
}

.hero-title {
  color: #fff;
  z-index: 10;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
}

.hero-title {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
}

.hero-text {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2;
  color: #fff;
  text-align: center;
}

/* 960px = 90em */
@media (max-width: 90em) {
  .hero-title {
    font-size: 4rem;
  }

  .hero-text {
    font-size: 2.5rem;
  }
}

/* 672px = 42em */
@media (max-width: 42em) {
  .hero {
    padding-top: 3rem;
  }
}
