.pricelist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}

.title {
  grid-column: 1 / -1;
  font-size: 5rem;
  font-weight: 300;
}

/* 960px = 90em */
@media (max-width: 90em) {
  .pricelist {
    grid-template-columns: 1fr;
  }
}
