.form-box {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 4rem 4rem 4rem;
  background-color: #555;
  z-index: 5;
  transition: all 1s ease-out;
}

.formBoxOpen {
  animation: openFormBox 1s ease-out forwards;
}

.formBoxClose {
  animation: closeFormBox 3s ease-out forwards;
}

@keyframes openFormBox {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes closeFormBox {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  70% {
    opacity: 1;
    transform: translate(-50%, 10%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.confirm-order-message,
.confirm-noOrder-message {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
}

.confirm-order-message {
  background-color: green;
}

.confirm-noOrder-message {
  background-color: orangered;
}

.label-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.input {
  padding: 1rem;
  border: 2px solid transparent;
  width: 70%;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.select {
  padding: 1rem;
  font-size: 1.6rem;
  width: 70%;
}

.select option:focus {
  border: none;
}

.order-btn {
  padding: 1rem 2rem;
  border: 2px solid transparent;
  font-size: 2rem;
  font-weight: 600;
}

.cancel-btn {
  padding: 1rem;
  border: 2px solid transparent;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 0rem;
  right: 0rem;
  background-color: transparent;
  color: #fff;
}

.cancel-btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.order-btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* 960px = 60em */
@media (max-width: 60em) {
  .form-box {
    width: 60%;
  }
}
