.backdrop {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 4;
  pointer-events: none;
}

.form {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 6rem;
  background-color: #555;
  z-index: 5;
  transition: all 1s ease-out;
}

.formOpen {
  animation: openForm 1s ease-out forwards;
}

.formClose {
  animation: closeForm 1s ease-out forwards;
}

@keyframes openForm {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes closeForm {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.label-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.label {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.input {
  padding: 1rem;
  border: 2px solid transparent;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.select {
  padding: 1rem;
  font-size: 1.6rem;
}

.select option:focus {
  border: none;
}

.order-btn-box {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.order-btn {
  padding: 1rem 2rem;
  border: 2px solid transparent;
  font-size: 2rem;
  font-weight: 600;
}

.order-btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

/* .backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  z-index: 3;
} */

.confirm-message {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  width: 40%;
  height: 40%;
  z-index: 50;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  transition: all 1s ease-out;
}

.showConfirmMessage {
  animation: showConfirmMessage 1s ease-out forwards;
}

.hideConfirmMessage {
  animation: hideConfirmMessage 1s ease-out forwards;
}

@keyframes showConfirmMessage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideConfirmMessage {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translate(-10%);
  }
}

.reserv-title {
  display: block;
  font-size: 3rem;
}
